{% extends 'base.html.twig' %}

{% block title%} Noticia {{ noticia.id }} {% endblock %}

{% block contenido%}

<section id="content-wrap" class="blog-single">
	<div class="row">
		<div class="col-twelve">

			<article class="format-standard">  
				<div class="content-media">
					<div class="post-thumb">
						<a href="{{ url_atras }}">Atrás</a>
						<img src="{{ asset(noticia.imagen) }}" alt="{{ asset(noticia.imagen) }}"> 
					</div>  
				</div>

				<div class="primary-content">

					<h1 class="page-title">{{ noticia.titulo }} </h1>	

					<ul class="entry-meta">
						<li class="date">{{noticia.fechaHora|date('d-m-Y')}}</li>									
					</ul>						

					<p class="lead">{{ noticia.descripcion }}</p> 
				</div>
			</article>
		</div>
	</div>
	
</section> <!-- end bricks -->

{% endblock %}